# Development
ENVIRONMENT=local

# AWS Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

# Notion Configuration
NT_AUTH=your_notion_auth_token
NT_STATS_DB_ID=your_notion_stats_database_id

# Ticktick Configuration
TT_USER=your_ticktick_username
TT_PASS=your_ticktick_password
TICKTICK_IDS=your_ticktick_list_ids

# RescueTime Configuration
RT_API_KEY=your_rescuetime_api_key

# HealthConnect Configuration
HC_USERNAME=your_healthconnect_username
HC_PASSWORD=your_healthconnect_password
HC_BASE_URL=your_healthconnect_base_url

# Connection Data Configuration
CONNECTION_DATA_FILENAME=your_connection_data_filename
